h2 {
    font-size: 50px;
}
.img-fluid {
    width: 70px;
    height: 50px;
}

.img-fluid1 {
    width: 100px;
    height: 20px;
}
.profilepic {
    height: 350px;
    width: 300px;
}
.container-fluid {
    align-items: center;
    text-align: center;
    padding: 0px;
    margin-top: 30px;
}
h1,h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
p,a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}